
QToolTip {
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}

QMessageBox {
    background-color: #f0f0f0;
}

QMenu {
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}

QMenu::item {
    background-color: transparent;
}

QMenu::item:selected {
    background-color: #0892D0;
    color: #184805;
}
