        body {
            font-family: 'Laila', serif;
            margin: 20px;
            background-color: #f8f9fa;
            color: #333;
        }

        .container {
            max-width: 825px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #007bff;
        }

        .event {
            color: #645f5f;
            position: relative;
            font-size: 10px;
}

        .navigation {
            margin: 20px 0;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .navigation select,
        .navigation input,
        .navigation button {
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #f1f1f1;
            flex: 1 1 auto;
        }

        .navigation button {
            background-color: #007bff;
            color: white;
            border: none;
        }

        .navigation button:hover {
            background-color: #0056b3;
        }

        h2 {
            text-align: center;
            margin: 20px 0;
            font-size: 24px;
            color: #333;
        }

        table {
            width: 100%;
            margin-top: 20px;
            table-layout: fixed;
            border-radius: 15px;
            border-collapse: separate;
            border-spacing: initial;
}

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            position: relative; 
            cursor: pointer;
        }

        th {
            background-color: #007bff;
            color: white;
        }

        td {
            height: 60px;
            vertical-align: top;
            position: relative; 
        }
     
        tr:first-child td:first-child {
            border-top-left-radius: 8px;
        }

        tr:first-child td:last-child {
            border-top-right-radius: 8px;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 8px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 8px;
        }

        .today {
            background-color: rgb(73, 171, 73);
            color: white;
            border-radius: 10px;
        }

        .saturday {
            color: #e31227;
            background-color: #f8c6c6;
        }

        .today.saturday {
             color: white !important;
}

        .empty {
            background-color: #f1f1f1;
        }

        @media (max-width: 768px) {
            body {
                margin: 10px;
            }

            h2 {
                font-size: 20px;
            }

            .navigation select,
            .navigation input,
            .navigation button {
                font-size: 14px;
                padding: 8px;
            }

            th, td {
                padding: 5px;
                font-size: 14px;
                font-weight: bold;
            }

            td {
                height: 60px;
            }
            .event {
                font-size: 7px;
            }
        }

        @media (max-width: 480px) {
            h2 {
                font-size: 18px;
            }

            .navigation select,
            .navigation input,
            .navigation button {
                font-size: 12px;
                padding: 6px;
            }

            th, td {
                padding: 3px;
                font-size: 12px;
                font-weight: bold;
            }

            td {
                height: 50px;
            }
            .event {
                font-size: 7px;
            }
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #f1f1f1;
            margin-top: 20px;
            font-size: 14px;
            color: #333;
            border-top: 1px solid #ddd;
        }

        footer a {
            color: #007bff;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            footer {
                font-size: 12px;
                padding: 15px;
            }
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 8px;
            text-align: center;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .tithi {
            color: #106bdb; 
            font-size: xx-small; 
            font-weight: lighter !important;
        }

        .today .tithi {
            color: white !important; 
            font-weight: bold !important;
}

        .gregorian {
            color: rgb(231 175 68);
            font-size: 65%;
            position: absolute; 
            bottom: 2px; 
            left: 2px; 
            margin: 2px;
        }

        .gregorian-month-display {
            font-size: x-small;
            color: #827a7a;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-end;
}

.ConverterLink {
            display: block;
            padding: 10px 20px;
            font-weight: bold;
            color: white;
            background-color: #007bff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
}